@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css ya global.css me add karo */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}
